body {
  background-color: rgb(131, 133, 136);
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}

#github-form input[type='text'] {
  padding: 0.5rem 0.4rem;
  border-radius: 0.5rem;
  border-color: salmon;
}

#github-form input[type='submit'] {
  cursor: pointer;
  padding: 0.3rem 0.3rem;
  border-radius: 0.2rem;
  border: 0.06rem solid salmon;
}
